body {
	background-color: black;
}

/**
  * Header
  **/

#nowPlay {
	border: 5px solid #111111;
	display: block;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top:0;
	text-align: center;
	background-color: black;
}

/**
  * Player
  **/

#audio0, #extraControls {
	text-align: center;
}

#player {
	border: 5px solid #111111;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
}

#plUL {
	list-style: none;
}

#audiowrap {
	padding-left: 0;
	padding-right: 0;
}

#cwrap {
	background-color: black;
	color: white;
}

#audio1 {
	background-color: black;
	color: red;
}

/**
  * Playlist
  **/

.plNum {
	float: left;
	margin-right: 50px;
}

.plTitle {
	float: left;
}

.plItem {
	clear: both;
}

ul li{
	cursor: pointer;
}

ul li:hover {
	background-color: #333333;
	border-color: #111111;
}

ul li .plSel:hover {
	background-color: #454545;
	border-color: #232323;
}

li {
	height: 20px;
	border: 1px solid black;
}

.plSel{
	background-color: rgba(9, 4, 213, 0.7);
	border: 1px solid gray;
}

.plHeadNum {
	float: left;
	margin:0 27px 0 40px;
}

.plHeadTitle {
	float: left;
}

#plHead {
	clear: both;
	height: 20px;
}

#plwrap {
	border: 5px solid #111111;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	background-color: black;
}

/**
  * Buttons
  **/

.btn-primary {
	background-color: #111111;
	border-color: #010101;
}

.btn-primary:hover {
	background-color: #333333;
	border-color: #131313;
}